body {
  font-family: "Roboto Condensed", sans-serif;
  overflow-y: hidden;
  background-color: #e6ffff;
}
header {
  text-align: center;
}

.box {
  display: flex;
  gap: 15px;
}
.image-lorem {
  /* height: 500px; */
  display: flex;
  /* why do i need to add display flex again */
  justify-content: center;
}

.one {
  flex: 1;
}

.two {
  flex: 1;
}

.three {
  flex: 1;
  background-color: chartreuse;
}
footer {
  text-align: center;
  height: auto;
  font-family: "Koulen", cursive;
  background-image: url("https://ngs-it.com/files/course/Backgrounds_in_CSS.jpg");
}
input[type="text"],
input[type="tel"],
input[type="email"],
select {
  height: 20px;
  width: 120px;
}
